@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
    --color-primary: #8F4C34;
    --color-purple: #3f3cbb;
    --color-midnight: #121063;
    --color-tahiti: #3ab7bf;
    --color-bermuda: #78dcca;
}
